<div ng-controller = "myProfileController">
<div style="background-color : #2F4F4F" >
<nav class="navbar navbar-default">
	<div style="background-color : #2F4F4F">
  <div class="container-fluid" style="background-color:#3b5998; padding: 2px; color:white;border:0px">
    <div class="navbar-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div style="float:left">
      <ul class="nav navbar-nav">
        <li style="color:white"><a href="#/account" style="color:white; border-right:20px">Account</a></li>
      
        <li><a href="#/personal" style="color:white; float:right; ">Personal</a></li>
      </ul>
    </div>
  </div>
	</div>	
</nav>
	</div>
	<br>
<b>UserName </b>: Sreeram <br>
  <h5><b>Email Address</b></h5>
    <div class="well well-sm" style="width: 50%;"><label>{{client.email}}</label></div>
  <div  class="well well-sm" style="width: 50%; margin: 0 auto;">
      <form name = "myForm">
      <b>Existing Password</b>
    <input type="password" ng-model = "password.existingPassword" class="form-control" id="pwd" placeholder="*******" ng-required = "true"><br>
  <b>New Password</b>
    <input type="password" ng-model = "password.newPassword" class="form-control" id="pwd" placeholder="*******" ng-required = "true"><br>
	<b>Repeat Password</b>
	 <input type="password" ng-model = "password.repeatPassword" class="form-control" id="pwd" ng-required = "true"><br> 
    <input type="submit" class="btn btn-success" ng-disabled = "myForm.$invalid" ng-click = "updatePassword(password)" style="margin: 0 auto; text-align: center;"value="Change Password"><br><br>
      </form>
      <div style = "left : 150px" class = "alert alert-danger" ng-if = "errorDisplay">{{errorMessage}}</div>
      <div style = "left : 150px" class = "alert alert-success" ng-if = "successDisplay">Password Successfully Updated !</div>
</div>
    
</div>