
<div>
<table class = "table">
            
        <thead>
        <th><label>My Projects</label></th>
			<th><button style = "float : right" class="btn btn-success" ng-click="newtest()">New Test Request</button></a></th>
        </thead>
            <tbody>
                
                <tr ng-repeat = "project in createdProjects"> 
                    <td ng-if = "project.status == 'A'" style = "width : 78%">
                        <img style = "border: 3px solid;border-color : 2F4F4F; width : 60px; height : 60px;" src="/images/iphone.jpg" alt="..." class="img-circle">
                        <a ui-sref = "project.dashboard({projectId : project.projectId, end_date : project.end_date})">{{project.project_name}}</a><br>
                        <label style = "width : 10%">status</label>Active</td>
                    <td ng-if = "project.status == 'D'" style = "width : 78%">{{project.project_name}}<br><label style = "width : 10%">status</label>Draft</td>
                    <td ng-if = "project.status == 'A'"><button style = "width : 100%" ng-click = "viewProject(project.projectId, project.end_date)" class = "btn btn-warning" type="button">View Project</button>&nbsp;</td>
                     <td ng-if = "project.status == 'D'"><button style = "float : right" class = "btn btn-primary" ng-click = "completeDraft(project.projectId)" type="button">Complete draft</button>&nbsp;
                <button style = "float : left" class = "btn btn-danger" ng-click = "deleteDraft(project.projectId)" type="button">Delete draft</button></td>&nbsp;
                </tr>
               
            
            </tbody>
    </table> 
    
</div>