
<div ng-controller = "listProjectsController">
<table class = "table">
            
        <thead>
        <th><label>My Projects</label></th>
            <th><button style = "float : right" class="btn btn-success">New Test Request</button></th>
        </thead>
            <tbody>
                <tr>
                    <td style = "width : 78%"><a href = "#dashboard">Project Name</a><br>status</td>
                <td ><button style = "float : right" class = "btn btn-primary" type="button">Complete draft</button>&nbsp;
                <button style = "float : left" class = "btn btn-danger" type="button">Delete draft</button></td>&nbsp;
                </tr>
               <tr>
                    <td style = "width : 78%">Project Name</td>
                <td ><button style = "float : right" class = "btn btn-primary" type="button">Complete draft</button>&nbsp;
                <button style = "float : left" class = "btn btn-danger" type="button">Delete draft</button></td>&nbsp;
                </tr>
                <tr>
            
            </tbody>
    </table> 
    
</div>