<ul style = "left : 200px" class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#/profile">Project Dashboard</a></li>
  <li role="presentation"><a href="#testers">Testers</a></li>
  <li role="presentation"><a href="#">Bugs</a></li>
</ul>