<html>
    <head>
    <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
        <script src = "https://code.angularjs.org/1.5.0-beta.1/angular-route.min.js"></script>
        <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
         <script src = "../controllers/appRoute.js"></script>
        
        <script src = "../controllers/projectController.js"></script>
        <script src = "../controllers/newProjectController.js"></script>
		<script src="../controllers/ng-file-upload.js	"></script>
        <script src = "../controllers/clientController.js"></script>
    </head>
    
    <body style = "background-color : #F0EBD5" ng-app = "selfProclaimedTester" ng-controller = "clientController">
       <nav style = "background-color : #2F4F4F" class="1avbar navbar-default navbar-fixed-top">
  <div class="container">
      <form class = "navbar-form navbar-right"> 
        <button class = "btn btn-default" style = "float : right">Log out</button>
      </form>
      
  </div>
            
</nav><br><br><br><br>
        <div class = "container">
        <img  src="./images/bug.png" alt="Smiley face" width="60" height="60">
        <span style = "color : #2F4F4F; font-family: forte;font-size : 28px;">Self <span style = "color : #07b4fb">Proclaimed</span> Tester</span> 
       
         <ul class="nav navbar-nav navbar-right">
        <li style = "font-size: 20px; font-color : white"><a style = "color : #2F4F4F" ui-sref = "contactus">Contact Us</a></li>
              
        </ul>
      <ul class="nav navbar-nav navbar-right">
        <li style = "font-size: 20px; font-color : white"><a style = "color : #2F4F4F" ui-sref = "profile">My Profile</a></li>
              
        </ul>
      <ul class="nav navbar-nav navbar-right">
        <li style = "font-size: 20px; font-color : white"><a style = "color : #2F4F4F" ui-sref = "home">My Dashboard</a></li>
              
        </ul>
        </div>
        
     <div class = "container">
        
        
       
    </div>
        <hr>
        
            <div class = "container">
            <div ui-view>
            
            
            
            </div>
        
     <!--   <table class = "table">
            
        <thead>
        <th><label>My Projects</label></th>
            <th><button style = "float : right" class="btn btn-success">New Test Request</button></th>
        </thead>
            <tbody>
                <tr>
                    <td style = "width : 78%">Project Name<br>status</td>
                <td ><button style = "float : right" class = "btn btn-primary" type="button">Complete draft</button>&nbsp;
                <button style = "float : left" class = "btn btn-danger" type="button">Delete draft</button></td>&nbsp;
                </tr>
               <tr>
                    <td style = "width : 78%">Project Name</td>
                <td ><button style = "float : right" class = "btn btn-primary" type="button">Complete draft</button>&nbsp;
                <button style = "float : left" class = "btn btn-danger" type="button">Delete draft</button></td>&nbsp;
                </tr>
                <tr>
            
            </tbody>
        </table> -->
    </div>
        
        

    
           
        
    </body>

    
</html>