<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Self Proclaimed Tester </title>
    <!-- Bootstrap core CSS -->
    
    <!-- Custom styles for this template -->
    <link href="/stylesheets/style1.css" rel="stylesheet">
</head>

<body style="background-color : #CCCCCC">
     <nav style = "background-color : #15C5C3" class="1avbar navbar-default navbar-fixed-top">
    <div class="container">
        <img  src="images/bug.png" alt="Smiley face" width="60" height="60">
        <span style = "color : #00f; font-family: comic sans ms;font-size : 28px;">Self <span style = "color : #ECE4D9">Proclaimed</span> Tester</span>
        
             <ul class="nav navbar-nav navbar-right"> 
                <li class="dropdown">
                    <a href="client_home.html"><span style="color : #00f">For clients</span></a>
                </li>
                <li class="dropdown">
                    <a href= "tester_home.html"><span style="color : #00f">For testers</span></a>
                </li>
                    <li class="dropdown">
                        <a href="about.html"><span style="color : #00f">About us</span></a>
                    </li>
                <li>
                    <a href="contact.html"><span style="color : #00f">Contact us</span></a>
                </li>
            </ul>
         
     
  </div>
    </nav><br><br>

     <section id="feature1">
      <div class="container">
          <h2><span style = "color : #00f; font-family: comic sans ms">Give your user a delightful time with your application!</span></h2><br><br>
        <div class="row">
          <div class="col-md-6">
              <h2>Here's how you can go ahead and achieve that!</h2>
            <ul>
              <li> <i class="glyphicon glyphicon-ok"></i> Sign Up as a Tester/Application Provider </li>
                <li> <i class="glyphicon glyphicon-ok"></i>Choose a project to test or upload</span></li>
              <li> <i class="glyphicon glyphicon-ok"></i> Get into Action!</li>
              <li> <i class="glyphicon glyphicon-ok"></i> Get Rewarded!</li>
            </ul>
          </div>
          <div class="col-md-4 ">
            <img class="big-logo" src="/images/Testing.png">
          </div>
        </div>
           <marquee width="70%"><h4>Check Out Our new Reward Policy !!!</h4></marquee>
      </div>
    </section>

        <section id="centr">
        <div class="col-md-12">
             <a href="#" class="btn btn-success"><b>Get Started Now!<b></a>
          </div>
    </section>

    <section id="whatWeTest">
     
      <div class = "containerWhatWeDo" >
        
        <div class="row"> 
          <div class="col-md-5"><h1>What do we test ? </h1></div> 
          <!-- <div class="col-md-4"></div>
          <div class="col-md-4"></div>  -->
        </div>    
        <div class="row">
            <ul style="list-style-type:none">
              <div class="col-md-3">
                <li> 
                    <img src="http://epagestore.com/img/icon5.png" height="90px" width="92px" alt="Website testing"> 
                    <p> <h3>Websites</h3></p>
                </li>
              </div>
              <div class="col-md-3">
                <li> 
                    <img src="http://revel.in/wp-content/uploads/2015/06/MOBILE-APP-ICON-GREEN_300x300.png" height="90px" width="92px" alt="Website testing"> 
                    <p><h3>iOS App</h3></p>
                </li>
              </div>

              <div class="col-md-3">
                <li>  
                    <img src="http://www.techidea.co.nz/img/android_apps.png" height="90px" width="92px" alt="Website testing"> 
                    <p><h3>Android App</h3></p>
                </li>
              </div>

              <div class="col-md-3">
                <li> 
                    <img src="https://openclipart.org/image/2400px/svg_to_png/227918/Video-Game-Controller-Icon.png" height="90px" width="92px" alt="Website testing"> 
                    <p><h3>Video Games</h3></p>
                </li>
              </div>
            </ul>
        </div>
        <div class="row"><p><p></p></p></div>
      </div>
    </section>


    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <p>Copyright &copy; 2015, All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   
  </body>
</html>
