<script src = "../js/angular-morris-chart.min.js"></script>
<div ng-controller = "projectController">
<ul style = "left : 200px" class="nav nav-tabs">
  <li role="presentation" class="active"><a ui-sref = "project.dashboard">Project Dashboard</a></li>
  <li role="presentation"><a ui-sref = "project.testers">Testers</a></li>
  <li role="presentation"><a ui-sref = "project.bugs">Bugs</a></li>
</ul>
<br>
<div ui-view>



</div>
</div>