
<div style="background-color : #2F4F4F">
<nav class="navbar navbar-default">
	<div style="background-color : #2F4F4F">
  <div class="container-fluid" style="background-color:#3b5998; padding: 2px; color:white;border:0px">
    <div class="navbar-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div style="float:left">
      <ul class="nav navbar-nav">
        <li style="color:white"><a ui-sref = "newProject.TestType" style="color:white; border-right:20px">Type of Test</a></li>
      
        <li><a ui-sref = "newProject.product" style="color:white; float:right; ">Type of product</a></li>
		  <li><a ui-sref = "newProject.platform" style="color:white; float:right; ">Platform</a></li>
		  <li><a ui-sref = "newProject.plan" style="color:white; float:right; ">Test Plan</a></li>
      </ul>
    </div>
  </div>
	</div>	
</nav>
	</div>
<script src = "../../controllers/newProjectController.js"></script>
<div ui-view ng-controller = "newProjectController">

</div>