<div>
<div class="container">
 <div class="row"> 
 <div class="col-sm-4">
 <h4>What is the name of this wonderful project?</h4><br>
 <input type="text" class="form-control" placeholder="Project Name" id="projectName" ng-model="projectName"><br>
<h4>Please provide the URL to be tested</h4><br>
 <input type="text" class="form-control" placeholder="http://domain.com" id="url" ng-model="projectUrl">
 </div>
 <div class="col-sm-4">
<h4>Does the product require a username or password to be accessed?</h4>
 <div class="radio">
      <label><input type="radio" name="optradio">No, it does not require a username or password</label>
    </div>
	<div class="radio">
      <label><input type="radio" name="optradio">Yes, here they are:</label><br><br>
    </div>
	<input type="text" class="form-control" placeholder="Username" id="username" ng-model="projectUserName"> <br>
	<input type="password" class="form-control" placeholder="Password" id="username" ng-model="projectPassword"> <br>
	<br><br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<button type="button" class="btn btn-success btn-md">Save and Next <span class="glyphicon glyphicon-chevron-right"></span></button>
 </div>
 <div class="col-sm-4">
 <h4> Please provide Project Description </h4>
 <textarea class="form-control" rows="4" id="projectDesc" placeholder="A brief idea" ng-model="projectDescription"></textarea><br>	
 <h4 style="text-align: center"> Upload User Manual </h4><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <input type="file" class="btn btn-info" ng-model="file"><span class="glyphicon glyphicon-cloud-upload"></span> Choose a file</input>
 
 </div>
 
 </div>
 </div>
</div>