<div>
<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }

</style>
<br><br><br>
<div class="container">
    <div class="row">
	
	<div class="col-sm-7">
	<div style="text-align:center">
	<h3 style="text-align:center">On what Platforms would you like your product to be tested?</h3><br>
	<div class="container">         
<div class="row">
        <div class="col-md-8">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Platform</th>
        <th></th>
        <th>Required?</th>
      </tr>
    </thead>
    <tbody>
     
		<tr ng-repeat="x in product_platforms[typeofproduct]">
		<td>{{x}}</td>
		<td></td>	
		  <td><input type="checkbox" ng-click="mybox1(x)" style="height:40px"/></td>
			
		 </tr>
		
		    </tbody>
  </table>
</div>
</div>
</div>

	
	</div>
	</div>
	<div class="col-sm-2">
	</div>
	<div class="col-sm-3">

	<h3 style="text-align:center"> Choose your Dead Line </h3>
	<div class="input-group date"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <div style="display:inline-block; min-height:290px;">
		 <input type="date" ng-model="formdata.posted_date"></iput>
    </div>

    
            

	
			</div>
 
</div>
	</div>
	</div><br>
	<div class="col-md-12 text-center">
 <button type="button" class="btn btn-success btn-md" ng-click="platformcheck()">Save and Next <span class="glyphicon glyphicon-chevron-right"></span></button>
 </div>
 </div>
