
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel='stylesheet' href='.\stylesheets\style.css'/>

<script>

function changecolor(i){
//alert(i);

//document.getElementById("function").style.border-color(green);

if(i==1)
{
document.getElementById("function").style.borderColor="#A1D490";
document.getElementById("usability").style.borderColor="#FFA500";
}
else
{
document.getElementById("function").style.borderColor="#FFA500";
document.getElementById("usability").style.borderColor="#A1D490";
}

}



</script>
	
<div class="container">
 <div class="row"> 
 <div class="main">
 
 
<div class="text-center">

<br><br><br>
<h2> What types of test are you looking for?</h2>
<br><br>
<img src=".\images\function.png" class="circle" id="function" onclick="changecolor(1)">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src=".\images\usability.png" class="circle" id="usability" onclick="changecolor(2)">
<br><br>
<b>Functional Testing</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> Usability Testing</b><br><br>
<button type="button" class="btn btn-primary btn-md">Next </button>
</div>
 </div>
</div>
</div>

