<div>
<h3 style="text-align: center">Lets build your Test plan </h3>
<br><br>
<div class="container">
 <div class="row"> 
 <div class="col-sm-4">
 <h4>What is the name of this wonderful project?</h4><br>
 <input type="text" class="form-control" placeholder="Project Name" id="projectName" ng-model="formdata.my_project_name"><br>
<h4>Please provide the URL to be tested</h4><br>
 <input type="text" class="form-control" placeholder="http://domain.com" id="url" ng-model="formdata.my_url">
 </div>
 <div class="col-sm-4">
<h4>Does the product require a username or password to be accessed?</h4>
 <div class="radio">
      <label><input type="radio" name="optradio">No, it does not require a username or password</label>
    </div>
	<div class="radio">
      <label><input type="radio" name="optradio">Yes, here they are:</label><br><br>
    </div>
	<input type="text" class="form-control" placeholder="Username" id="username" ng-model="formdata.my_app_username"> <br>
	<input type="password" class="form-control" placeholder="Password" id="username" ng-model="formdata.my_app_password"> <br>
	<br><br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<button type="button" class="btn btn-success btn-md" ng-click="uploadPic(picFile)" >Finish <span class="glyphicon glyphicon-chevron-right"></span></button>
	 
	 
 </div>

 <div class="col-sm-4">
 <h4> Please provide Project Description </h4>
 <textarea class="form-control" rows="4" id="projectDesc" placeholder="A brief idea" ng-model="formdata.my_description"></textarea><br>	
 <h4 style="text-align: center"> Upload User Manual </h4><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 

<input type="file" class="btn btn-primary btn-file" ngf-select ng-model="picFile" name="file"    
             accept="*" ngf-max-size="2MB" required>
      <i ng-show="myForm.file.$error.required">*required</i><br>
      <i ng-show="myForm.file.$error.maxSize">File too large 
          {{picFile.size / 1000000|number:1}}MB: max 2M</i>
	 
 
 </div>
 
 </div>
 </div>
</div>